<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유튜브</title>
    <link rel="stylesheet" href="/layout/youtube.css">
</head>
<body>

    <div id="outer">
        <div id="logo-area">
            <div>메뉴</div>
            <div>유튜브로고</div>
        </div>
        <div>검색창있는영역</div>
        <div id="menu-area">
            <div>
                <div>🏠</div>
                <div id="menu-area-home-text-area">홈</div>
                <div>🆘</div>
                <div>쇼츠</div>
                <div>💌</div>
                <div>구독</div>
            </div>
            <div>내페이지,시청기록</div>
            <div>로그인버튼</div>
            <div>탐색</div>
            <div>더보기</div>
        </div>
        <div id="video-area">
            <div id="video-category-area">
                <button>전체</button>
                <button>게임</button>
                <button>요리</button>
                <button>골프</button>
                <button>등산</button>
                <button>예능</button>
                <button>뮤직</button>
                <button>기타</button>
            </div>
            <div id="video-main-area">
                <div>
                    <div><img src="https://shorturl.at/SRwLj" width="90%" height="90%" alt=""></div>
                    <div>유튜브썸네일만드는방법</div>
                </div>
                <div>
                    <div>썸네일</div>
                    <div>제목,설명</div>
                </div>
                <div>
                    <div>썸네일</div>
                    <div>제목,설명</div>
                </div>
                <div>
                    <div>썸네일</div>
                    <div>제목,설명</div>
                </div>
                <div>
                    <div>썸네일</div>
                    <div>제목,설명</div>
                </div>
                <div>
                    <div>썸네일</div>
                    <div>제목,설명</div>
                </div>
                <div>
                    <div>썸네일</div>
                    <div>제목,설명</div>
                </div>
                <div>
                    <div>썸네일</div>
                    <div>제목,설명</div>
                </div>
                <div>
                    <div>썸네일</div>
                    <div>제목,설명</div>
                </div>
                <div>
                    <div>썸네일</div>
                    <div>제목,설명</div>
                </div>
            </div>
            <div>쇼츠</div>
        </div>
    </div>

</body>
</html>