.tb-area{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    background-color: white;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-area{
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-area>a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: darkgrey;
    color: white;
    text-decoration: none;

}
.main-bottom-area{
    display: flex;
    justify-content: end;
    
}